/*DESKTOP - */
.nav-item{
    text-align: center;
    color: #2F2E41;
}
.navbar-brand img{
    width: 40px;
    height: 40px;
}
.btn-standout{
    border-radius: 30px;
    background-color: #6C63FF;
    color: #fff;
}
.jumbotron{
    margin-top: 60px;
    background-color: #D2D0EF;
    text-align: center;
}
.jumbotron .btn{
    margin-top: 30px;
}
.jumbotron .caption-1{
    margin-bottom: 30px;
}
.jumbotron .caption-1 .display-4{
    font-size: 46px;
}
.vi-auto-ga {
    height: 500px;
    background-color: #2F2E41;
    margin-bottom: 30px;
    padding-left: 0px;
}
.title{
    margin: 30px 0px 30px;
}
.sm-result{
    font-size: 18px;
}
/*DESKTOP +*/
@media (min-width: 992px) { 
    .navbar-brand img{
        width: 50px;
        height: 50px;
    }
    .nav-item {
        text-transform: uppercase;
        margin-right: 30px;
    }
    .caption-1 {
        text-align: left;
    }
    .jumbotron .btn{
        margin-bottom: -30px;
    }
    .sm-result {
        font-size: 25px;
    }
}